.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 3vh 15vw;
}

.title {
  color: #61dafb;
}

.message {
  border: solid 2px #61dafb;
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  margin: 10px;
}
